.update:hover,
.nav-link:hover {
  cursor: pointer;
}

@media only screen and (max-width: 333px) {
  .headerbrand {
    font-size: 1.8rem;
  }
}

@media only screen and (min-width: 1115px) {
  .headerbrand {
    font-size: 5rem;
  }
}
